# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'Install'

- script: |
    npm build
  displayName: 'Build'

- script: |
    npm run lint
  displayName: 'Lint'

- script: |
    npm run test:unit
  displayName: 'Unit Test'

- script: |
    npm run test:ci
  displayName: 'E2E Test'