.chart-header {
  line-height: 30px;
  height: 31px;
}

.bar-chart {
  width: auto;
  height: 450px;
}

.line-chart {
  width: auto;
  height: 450px;
}

.scatter3d-chart {
  width: auto;
  height: 450px;
}

.scatter-chart {
  width: auto;
  height: 450px;
}

.radar-chart {
  width: auto;
  height: 450px;
}

.surface-chart {
  width: auto;
  height: 450px;
}