.detail-col {
  width: calc(100% - 350px);
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  overflow: auto;
}

.list-col {
  width: 350px;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: auto;
}

.list-header {
  position: sticky;
  background: white;
  z-index: 999;
  top: 0;
}

.list-col .list-group-item {
  border-left: transparent 3px solid;
  background: transparent;
}
.list-col.list-group-item-action:hover {
  background: rgba(0,0,0,0.02);
}
.list-col .list-group-item-action:active {
  background: rgba(0,0,0,0.05);
}

.list-col .list-group-item.router-link-exact-active {
  z-index: 3;
  background-color: #f7f8fb;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
  border-color: transparent;
  border-left: #007bff 3px solid;
  color: #007bff;
}